<head>
  <title>3D Models Manager</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
</head>
<div>
  <div id="info">
    <a class="a"> Drag to move - Scroll/Pinch to zoom - Drag with [double tap] or [left and right mouse button click] to move camera </a><br />
    <a class="a" (click)="routeToUpload()" > Back to 3D models lists </a><br />
  </div>
  <div id="root">
    <div id="renderingdiv">
    </div>
  </div>
</div>