<div>
  <nav class="navbar navbar-expand">
      <a href="#" class="navbar-brand">3D Models Manager</a>
      <br>
      <a href="#" class="navbar-brand">Angular Django Web App</a>
      <div class="navbar-nav mr-auto">
          <!-- <li class="nav-item">
              <a routerLink="tutorials" class="nav-link">Item 1</a>
          </li>
          <li class="nav-item">
              <a routerLink="add" class="nav-link">Item 2</a>
          </li> -->
      </div>
  </nav>
  <div class="container mt-3">
    <div class="container">
      <div>
        <div *ngIf="isValid && modelName && response"  style="color: lightseagreen">
          <h4> <a> {{modelName}} </a> </h4>
        </div>
        <div *ngIf="!isValid" style="color: red">
          <h4> <a> {{validationMsg}} </a> </h4>
        </div>
        <form class="submit-form" [formGroup]="form" (ngSubmit)="onSubmit()">
          <input class="btn themefont" type="file" name="uploadinput" (change)="onChange($event)"/>
          <button id="uploadBtn" class="btn themefont" type="submit">Upload 3D Model File</button>
        </form>
        <div>
          <br>
          <h4>All 3D Models list</h4>
          <div class="parentcss">
            <div class="list-group">
              <h5 class="list-group-item childcss" *ngIf="emptylist"> {{listMes}}</h5>
              <div *ngIf="!emptylist">
                <div class="list-group-item childcss btn" *ngFor="let model of list; let i = index"
                  [class.active]="i == currentIndex" (click)="routeToViewmodel(model)" style="margin: 0.5em;">
                  {{ model }} - View this 3D model
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>