.parentcss {
    background-color: rgb(36, 36, 36);
    margin-bottom: 7em;
}

.childcss {
    background-color: rgb(54, 54, 54);
}

.childcss:hover {
    background-color: rgb(70, 70, 70);
  }

div{
    color: rgb(255, 255, 255);
    background-color: rgb(18, 18, 18)
}

#file-upload-button, input, .themefont{
    background-color: rgb(131, 47, 239);
    color: rgb(255, 255, 255);
}

.btn{
    margin: 0.2em;
}

.navbar {
    background-color: rgb(36, 36, 36);
}

.navbar-brand{
    color: rgb(131, 47, 239);
}